body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player:hover {
  border: 1px solid grey;
  border-radius: 16px;
}

.image {
  width: 600px;
  height: 400px;
  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.buttons {
  margin-top: 20px;
}