body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.outer {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

