body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: radial-gradient(#666, #222);
  overflow: hidden;
}

.main {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  border-radius: 8px;
  border: 8px solid white;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 72px;
}

.button {
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border: 4px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  margin: 32px;
  font-size: 36px;
}
